/* font */
@font-face {
    font-family: MyriadPro;
    src: url('../../fonts/MyriadPro-Regular.otf');
}
/* @font-face {
    font-family: MyriadPro;
    src: url('../../fonts/lato-light.ttf');
} */

body {
    font-family: 'Nunito';
    width: 100%;
}
/* :root {
    --ratio: 16 / 9;
    --width: 100vw;
    --height: calc(var(--width) * var(--ratio));
} */
.antialiased {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    width: 100vw;
    height: calc(100vw * (9/16));
}
.header {
    height: 20%;
    align-items: stretch;
}
.header-main-1 {
    width: 90%;
}
.header-main-2 {
    flex-grow: 4;
    color: white;
    font-size: 30px;
    text-align: center;
}
.header-main-3 {
    flex-grow: 2;
    text-align: center;
}
.header-main {
}
.main {
    height: 60%;
    width: 100%;
    /* border: 2px solid rgb(116, 111, 111); */
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    height: 20%;
    width: 100%;
}
.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-main {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-footer {
    border: 3px solid white;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    padding: 10px 100px 10px 100px;
    margin: 10px;
    background: linear-gradient(to right, #164171 0%, #0e7d91 100%);
    font-weight: bold;
    cursor: pointer;
}

.div-footer:hover,
.div-footer:focus {
    box-shadow: 0 5px 15px white;
}
@keyframes pulse {
0% { box-shadow: 0 0 0 0 var(--hover); }
}
/*  */
.btn-link {
    /* border: 2px solid white; */
    display: inline-block;
}
.btn-link a {
    text-decoration: none;
    background: #1f92d1;
    padding: 25px 160px;
    padding-top: 30px;
    color: #fff;
    position: relative;
    border-radius: 20px;
    font-size: 45px;
    font-weight: bold;
    border: 3px solid white;
    padding-left: 215px;
    font-family: MyriadPro;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.btn-link a span {
    border-radius: 50%;
    padding: 1px 50px;
    padding-top: 7px;
    position: absolute;
    background: #f4f4f4;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    font-size: 90px;
    border-top: 10px solid #00d4fc;
    border-bottom: 10px solid #0087f7;
    border-left: 10px solid #00d4fc;
    border-right: 10px solid #0087f7;
    font-weight: bold;
    color: #1f92d1;
    font-family: MyriadPro;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.btn-link .info {
    padding: 5px;
    background-color: #fff;
    margin-right: 2px;
    border: 1px solid #fff;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.btn-link .info .SG {
    padding: 0px;
    list-style-type: none;
    padding-top: 5px;
    margin-left: 60px;
    margin-right: 60px;
}
.btn-link .info .SG-change {
    padding-top: 40px !important;
    padding-bottom: 20px !important;
}
.btn-link .info .SG li{
    text-align: center;
    border-bottom: 4px solid #1f92d1;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 22px;
    color: #033c71;
    font-weight: 600;
}
.btn-link .info .SG-change li {
    font-size: 25px !important;
}
.btn-link .info .SG li p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-size: 18px;
}
.btn-link .info .SG .li-not-br {
    padding-bottom: 23px;
    padding-top: 23px;
}
.btn-link .info .SG .finnal-li {
    border-bottom: none;
}
#test {
    border: 2px solid black;
}

/*  */
img[usemap] {
    border: none;
    height: auto;
    max-width: 100%;
    width: auto;
}
.link-rivera {
    background:#fff;
    display:block;
    height:475px;
    opacity:0;
    position:absolute;
    width:320px;
}
.link-rivera:focus {
    opacity:0.2;
}
/*  */
/* .contry-club {
    display: none;
} */
.main-club {
    width: 50%;
    /* border: 2px solid white; */
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
}
/* lunch */
.lunch {
    flex-direction: column;
}
.lunch .title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 150px;
}
.lunch .input {
    width: 70%;
    margin-bottom: 100px;
}
.lunch .input input {
    display: inline-block;
    margin:15px 0;
    padding:15px 10px;
    width:100%;
    outline:none;
    border:1px solid #bbb;
    border-radius:38px;
    display:inline-block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
            box-sizing:border-box;
    -webkit-transition:0.2s ease all;
    -moz-transition:0.2s ease all;
        -ms-transition:0.2s ease all;
        -o-transition:0.2s ease all;
            transition:0.2s ease all;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
::-webkit-input-placeholder { /* Edge */
    color: #7f9db7;
    }

    :-ms-input-placeholder { /* Internet Explorer */
        color: #7f9db7;
    }

    ::placeholder {
        color: #7f9db7;
    }
.lunch button {
    display: inline-block;
    padding: 20px 50px 20px 50px;
    font-size: 23px;
    font-weight: bold;
    border-radius: 21px;
    border: 1px solid white;
    color: white;
    background: linear-gradient(to right, #174372 0%, #0e7b90 100%);
    margin-bottom: 40px;
}
.lunch button:focus {
    outline: none;
}
.lunch button:hover,
.lunch button:focus {
    box-shadow: 0 5px 15px white;
}
.lunch .hotline {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 267px;
}
/*  */
.lunch2 .title2 {
    margin-bottom: 50px !important;
}
.lunch2 .notice {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 70px;
    text-align: center;
}
.lunch2 .input {
    margin-bottom: 70px;
}
.lunch3 .btn-link {
    margin-bottom: 70px;
    width: 100%;
}
.lunch3 .btn-link a {
    padding: 18px 48px;
    padding-top: 25px;
    padding-left: 192px;
    display: block;
    width: 100%;
    text-align: right;
}
.lunch3 .btn-link a .icon_in_a {
    display: inline;
    padding-left: 200px;
    vertical-align: middle;
    font-size: 30px;
    font-weight: normal;
    margin-right: 10px;
}
.lunch3 .btn-link a .icon_in_a_3 {
    padding-left: 228px;
}
.lunch3 .btn-link a i {
    font-size: 20px;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 2px;
}
/*  */
.lunch4 .div-choose-min {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.lunch4 .title {
    margin-bottom: 100px;
}
.lunch4 .div-choose-min .specific {
    border: 1px solid white;
    width: 80%;
    border-radius: 50px;
    padding: 15px 40px 15px 40px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.lunch4 .div-choose-min .specific .specific-left {
    width: 50%;
    text-align: left;
    font-size: 35px;
    font-weight: bold;
    color: #01396a;
}
.lunch4 .div-choose-min .specific .specific-right {
    width: 50%;
    text-align: right;
}
.lunch4 .div-choose-min .specific .specific-right .specific-right-1 {
    font-size: 30px;
    font-weight: bold;
    margin-right: 43px;
    color: #01396a;
}
.lunch4 .div-choose-min .specific .specific-right .specific-right-2 {
    font-size: 30px;
    margin-right: 15px;
    color: #0ddbdb;
}
.lunch4 .div-choose-min .specific .specific-right i {
    font-size: 25px;
    margin-right: 3px;
    color: #02a8a8;
}
.style-hover:focus,
.style-hover:hover {
    box-shadow: 0 5px 15px white !important;
    cursor: pointer;
}
/* lunch5 */
.lunch5 .parent-qr {
    padding: 20px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 50px;
    border-radius: 20px;
}
.lunch5 .title2 {
    margin-top: 20px;
    margin-bottom: 60px !important;
}
.lunch5 .notice {
    font-size: 25px;
    color: white;
    text-align: center;
}
.stock {
    opacity: 0.8 !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}
.stock .icon_in_a {
    color: #111 !important;
}
.stock .specific-left,.stock .specific-right-2,.stock i {
    color: #111 !important;
}
.stock .color-red {
    color: red !important;
}
/* picnic */
.pc1 .title {
    margin-bottom: 50px !important;
}
.pc1 .content-pc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.pc1 .content-pc .my-container-img {
    position: relative;
    background: #5C97FF;
    overflow: hidden;
    width: 40%;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.pc1 .content-pc .my-container-img:hover{
    box-shadow: 0 5px 15px white;
}
.pc1 .content-pc .ship1:before {
    background-image: url('../../images/02.jpg') !important;
}
.pc1 .content-pc .ship2:before {
    background-image: url('../../images/Fortis.jpg') !important;
}
.pc1 .content-pc .my-container-img:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    /* background-image: url('../../images/Fortis.jpg') !important; */
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.pc1 .content-pc .my-container-img h1 {
    padding: 50px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: white;
    padding: 70px;
    margin-right: 26px;

}

.pc0, .pc1, .pc2, .pc3 {
    display: none !important;
}
.importantRule {
    display: flex !important;
}

/*  */
.pc5 {
    width: 80% !important;
}
.pc5 .contain-choose-ship {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pc5 .contain-choose-ship .contain-choose-ship-0 {
    /* border: 1px solid white; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pc5 .contain-choose-ship-1 {
    width: 90%;
    border-radius: 10px;
    /* border: 1px solid white; */
}
.pc5 .div-choose-min .specific {
    width: 90% !important;
    margin-bottom: 35px !important;
    cursor: pointer !important;
}
.pc5 .div-choose-min .specific .specific-right {
    width: 60%;
    text-align: right;
}
.pc5 .div-choose-min .specific .specific-left {
    width: 40%;
    text-align: left;
}

@media only screen  and (max-width: 1366px)  {
    .pc5 {
        width: 90% !important;
    }
    .pc5 .div-choose-min .specific .specific-left {
        font-size: 22px !important;
    }
    .pc5 .div-choose-min .specific .specific-right .specific-right-2 {
        font-size: 22px !important;
    }
    .pc5 .div-choose-min .specific {
        width: 90% !important;
        margin-bottom: 18px !important;
        cursor: pointer !important;
    }
    .pc5 .title {
        font-size: 30px;
        margin-bottom: 58px !important;
    }

    /*  */
    .pc3 .pc3-input {
        margin-bottom: 20px !important;
    }
    .pc3 #tel_lunch_pc3 {
        margin-bottom: 50px !important;
    }
    .pc1 {
        width: 60% !important;
    }
    .pc1 .content-pc .my-container-img h1 {
        padding: 50px;
        text-align: center;
        z-index: 2;
        position: relative;
        color: white;
        padding: 50px;
        margin-right: 110px;
    }
    .pc1 .content-pc .my-container-img {
        overflow: hidden;
        width: 30%;
        margin: 20px;
        border-radius: 30px;
    }
    /* lunch5 */
    .lunch5 .parent-qr {
        padding: 15px;
        margin-bottom: 15px;
    }
    .lunch5 .title2 {
        margin-top: 10px;
        margin-bottom: 30px !important;
    }
    canvas {  /* or some other selector */
        width: 150px !important;
        height: 150px !important;
        }
    .lunch5 .title {
        font-size: 25px;
    }
    /*  */
    .lunch4 .div-choose-min .specific {
        width: 100%;
        margin-bottom: 30px;
        padding: 13px 40px 13px 40px;
    }
    .lunch4 .div-choose-min .specific .specific-left {
        font-size: 27px;
    }
    .lunch4 .div-choose-min .specific .specific-right .specific-right-1 {
        font-size: 27px;
    }
    .lunch4 .div-choose-min .specific .specific-right .specific-right-2 {
        font-size: 27px;
    }
    .lunch4 .div-choose-min .specific .specific-right i {
        font-size: 21px;
    }
    /*  */
    .lunch3  .btn-link a span {
        padding: 0px 33px;
        padding-top: 10px;
        left: -20px;
        font-size: 53px;
    }
    .lunch3 {
        width: 60%;
    }
    .lunch3 .btn-link a {
        padding: 12px 48px;
        padding-top: 15px;
        padding-left: 172px;
        display: block;
        width: 100%;
    }
    .lunch3 .btn-link a i {
        font-size: 15px;
        vertical-align: middle;
        margin-bottom: 1px;
        margin-right: 2px;
    }
    .lunch3 .btn-link {
        margin-bottom: 54px;
        width: 85%;
    }
    .lunch3 .btn-link a .icon_in_a {
        display: inline;
        padding-left: 74px;
        vertical-align: middle;
        font-size: 21px;
        font-weight: normal;
        margin-right: 10px;
    }
    /*  */
    /*  */
    .lunch2 .title2 {
        margin-bottom: 40px !important;
    }
    .lunch2 .input {
        margin-bottom: 0px !important;
    }
    .lunch2 .notice {
        margin-bottom: 40px;
    }
    /*  */
    .lunch .title {
        font-size: 30px;
        margin-bottom: 80px;
    }
    .lunch .input {
        width: 90%;
        margin-bottom: 40px;
    }
    .lunch .input input {
        padding: 15px 10px;
        font-size: 20px;
    }
    .lunch button {
        padding: 15px 50px 15px 50px;
        margin-bottom: 10px;
    }
    .lunch .hotline {
        margin-bottom: 60px;
    }
    .div-footer {
        font-size: 14px;
        padding: 5px 60px 5px 60px;
    }
    .header-main-1 img {
        width: 11% !important;
    }
    .footer-main {
        width: 90%;
    }
    /* set css container */
    .btn-link a {
        padding: 18px 160px;
        padding-top: 20px;
        font-size: 30px;
        border: 3px solid white;
        padding-left: 163px;
    }
    .btn-link a span {
        padding: 1px 31px;
        padding-top: 7px;
        left: -20px;
        font-size: 55px;
    }
    .btn-link .info .SG li {
        border-bottom: 2px solid #1f92d1;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 20px;
    }
    .btn-link .info .SG li p {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        font-size: 15px;
    }
    .btn-link .info .SG .li-not-br {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .btn-link .info .SG-change li {
        font-size: 19px !important;
    }
}
@media only screen and  (max-width: 1024px)  {
    .pc5 .div-choose-min .specific .specific-left {
        font-size: 15px !important;
    }
    .pc5 .div-choose-min .specific .specific-right .specific-right-2 {
        font-size: 15px !important;
    }
    .pc5 .div-choose-min .specific .specific-right i {
        font-size: 12px;
    }
    /*  */
    .pc3 p {
        margin-bottom: 30px !important;
    }
    .pc1 .content-pc .my-container-img h1 {
        padding: 50px;
        text-align: center;
        z-index: 2;
        position: relative;
        color: white;
        padding: 38px;
        margin-right: 50px;
        font-size: 21px;
    }
    .pc1 {
        width: 60% !important;
    }
    .pc1 .content-pc {
        margin-bottom: 30px;
    }
     /* lunch5 */
     .lunch5 .icon-cuss {
         width: 80px !important;
         height: 80px !important;
     }
     .lunch5 {
        width: 65% !important;
     }
     .lunch5 .parent-qr {
        padding: 15px;
        margin-bottom: 10px;
    }
    .lunch5 .title2 {
        margin-top: 10px;
        margin-bottom: 20px !important;
    }
    canvas {  /* or some other selector */
        width: 100px !important;
        height: 100px !important;
        }
    .lunch5 .title {
        font-size: 20px !important;
    }

    .lunch5 .notice {
        font-size: 15px;
    }
    /*  */
    /*
     */

     .lunch4 .title {
        font-size: 25px;
        margin-bottom: 48px;
    }
     .lunch4 .div-choose-min .specific {
        width: 100%;
        margin-bottom: 25px;
        padding: 5px  40px 5px  40px;
    }
    .lunch4 .div-choose-min .specific .specific-left {
        font-size: 20px;
    }
    .lunch4 .div-choose-min .specific .specific-right .specific-right-1 {
        font-size: 20px;
    }
    .lunch4 .div-choose-min .specific .specific-right .specific-right-2 {
        font-size: 20px;
    }
    .lunch4 .div-choose-min .specific .specific-right i {
        font-size: 17px;
    }
     /*  */
    .lunch3  .btn-link a span {
        padding: 1px 21px;
        padding-top: 1px;
        left: -20px;
        font-size: 36px;
    }
    .lunch3 {
        width: 60%;
    }
    .lunch3 .btn-link a {
        padding: 7px 48px;
        padding-top: 10px;
        padding-left: 95px;
        display: block;
        width: 100%;
    }
    .lunch3 .btn-link a i {
        font-size: 12px;
        vertical-align: middle;
        margin-bottom: 1px;
        margin-right: 2px;
    }
    .lunch3 .btn-link {
        margin-bottom: 54px;
        width: 85%;
    }
    .lunch3 .btn-link a .icon_in_a {
        display: inline;
        padding-left: 74px;
        vertical-align: middle;
        font-size: 17px;
        font-weight: normal;
        margin-right: 10px;
    }
    /*  */
    .lunch2 .title2 {
        margin-bottom: 20px !important;
    }
    .lunch2 .input {
        margin-bottom: 0px !important;
    }
    .lunch2 .notice {
        margin-bottom: 20px;
        margin-top: 10px;
    }
    /*  */
    .lunch .title {
        font-size: 25px;
        margin-bottom: 80px;
    }
    .lunch .input {
        width: 90%;
        margin-bottom: 40px;
    }
    .lunch .input input {
        padding: 10px 10px;
        font-size: 20px;
    }

    .div-footer {
        font-size: 13px;
        padding: 3px 30px 3px 30px;
        border: 2px solid white;
    }
    .header-main-1 img {
        width: 11% !important;
    }
    .antialiased {
        /* height: 100vh; */
    }
    .btn-link .info .SG {
        padding: 0px;
        list-style-type: none;
        padding-top: 5px;
        margin-left: 38px;
        margin-right: 38px;
    }
    .btn-link a {
        padding: 15px 139px;
        padding-top: 20px;
        font-size: 20px;
        border: 3px solid white;
        padding-left: 148px;
    }
    .btn-link a span {
        padding: 1px 31px;
        padding-top: 7px;
        left: -20px;
        font-size: 46px;
    }
    .btn-link .info .SG li {
        border-bottom: 2px solid #1f92d1;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 15px;
    }
    .btn-link .info .SG li p {
        font-size: 12px;
    }
    .btn-link .info .SG-change li {
        font-size: 17px !important;
    }
}
@media screen and (max-width: 823px){
    .pc5 .div-choose-min .specific .specific-right .specific-right-1 {
        font-size: 12px !important;
    }
    .pc5 .div-choose-min .specific {
        width: 100%;
        margin-bottom: 12px ;
        padding: 1px  22px 2px  22px !important;
    }
    .pc5 .div-choose-min .specific .specific-left {
        font-size: 10px !important;
    }
    .lunch4 .div-choose-min .specific .specific-right i {
        font-size: 9px !important;
    }
    .pc5 .title {
        margin-bottom: 38px !important;
    }
    /*  */
    .pc1 .title {
        margin-bottom: 17px !important;
    }
    .pc1 .content-pc {
        margin-bottom: 22px;
    }
     /* lunch5 */
     .lunch5 .icon-cuss {
         width: 50px !important;
         height: 50px !important;
     }
     .lunch5 {
        width: 65% !important;
     }
     .lunch5 .parent-qr {
        padding: 15px;
        margin-bottom: 5px;
    }
    .lunch5 .title2 {
        margin-top: 10px;
        margin-bottom: 20px !important;
    }
    canvas {  /* or some other selector */
        width: 80px !important;
        height: 80px !important;
        }
    .lunch5 .title {
        font-size: 15px !important;
    }

    .lunch5 .notice {
        font-size: 15px;
    }
    /*  */
    .lunch4 .title {
        font-size: 25px;
        margin-bottom: 48px;
    }
     .lunch4 .div-choose-min .specific {
        width: 100%;
        margin-bottom: 25px;
        padding: 5px  40px 5px  40px;
    }
    .lunch4 .div-choose-min .specific .specific-left {
        font-size: 18px;
    }
    .lunch4 .div-choose-min .specific .specific-right .specific-right-1 {
        font-size: 18px;
    }
    .lunch4 .div-choose-min .specific .specific-right .specific-right-2 {
        font-size: 18px;
    }
    .lunch4 .div-choose-min .specific .specific-right i {
        font-size: 15px;
    }
    .lunch4  {
        width: 65%;
    }
    /*  */
    .lunch3 .btn-link a i {
        font-size: 6px;
        vertical-align: middle;
        margin-bottom: 1px;
        margin-right: 2px;
    }
    .lunch3 .btn-link a .icon_in_a {
        display: inline;
        padding-left: 57px;
        vertical-align: middle;
        font-size: 9px;
        font-weight: normal;
        margin-right: 10px;
    }
    .lunch3 .btn-link a {
        padding: 7px 48px;
        padding-top: 10px;
        padding-left: 72px;
        display: block;
        width: 100%;
    }
    .lunch3 .btn-link a span {
        padding: 1px 16px;
        padding-top: 1px;
        left: -20px;
        font-size: 31px;
    }
    .lunch3 .btn-link {
        margin-bottom: 32px;
        width: 85%;
    }
    /*  */
    .lunch2 .input input {
        font-size: 20px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .lunch2 .title2 {
        margin-bottom: 20px !important;
    }
    .lunch2 .input {
        margin-bottom: 0px !important;
    }
    .lunch2 .notice {
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    /*  */
    .main-club {
        width: 60%;
    }
    .lunch .title {
        font-size: 20px;
        margin-bottom: 35px;
    }
    .lunch .input {
        margin-bottom: 20px;
    }
    .lunch button {
        padding: 10px 50px 10px 50px;
        margin-bottom: 10px;
    }
    .lunch button {
        padding: 15px  50px 15px  50px;
        font-size: 20px;
    }
    .lunch .hotline {
        font-size: 20px;
    }
    .btn-link a {
        padding: 8px 102px;
        padding-top: 12px;
        font-size: 20px;
        padding-left: 120px;
    }
    .btn-link a span {
        padding: 1px 20px;
        padding-top: 7px;
        left: -20px;
        font-size: 31px;
    }
    .btn-link .info .SG {
        padding-top: 3px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .btn-link .info {
        margin-right: 7px;
    }
    .btn-link .info .SG .li-not-br {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .btn-link .info .SG li {
        border-bottom: 2px solid #1f92d1;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 12px;
    }
    .btn-link .info .SG {
        padding-top: 3px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 3px;
    }
    .btn-link .info .SG-change li {
        font-size: 13px !important;
    }
    .btn-link .info .SG-change {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
}
@media screen and (max-width: 768px){
    .main-club {
        width: 60%;
    }
    .lunch .title {
        font-size: 20px;
        margin-bottom: 40px;
    }
    .lunch .input input {
        padding: 8px 10px;
        font-size: 20px;
    }
    .lunch .hotline {
        font-size: 20px;
    }
    .lunch button {
        padding: 10px 50px 10px 50px;
    }
    .lunch .input {
        width: 90%;
        margin-bottom: 30px;
    }
    .lunch .hotline {
        margin-bottom: 43px;
    }
    .lunch button {
        font-size: 20px;
    }
    .div-footer {
        font-size: 9px;
        padding: 3px 20px 3px 20px;
        border: 2px solid white;
    }
    .header-main-1 img {
        width: 11% !important;
    }
    .antialiased {
        /* height: 100vh; */
    }
    .btn-link a {
        padding: 11px 100px;
        padding-top: 12px;
        border-radius: 20px;
        font-size: 15px;
        border: 3px solid white;
        padding-left: 115px;
    }
    .btn-link a span {
        border-radius: 50%;
        padding: 1px 16px;
        padding-top: 5px;
        left: -20px;
        font-size: 30px;
        /* border-top: 5px solid #00d4fc;
        border-bottom: 5px solid #0087f7;
        border-left: 5px solid #00d4fc;
        border-right: 5px solid #0087f7; */
    }
    .btn-link .info .SG li {
        border-bottom: 1px solid #1f92d1;
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 12px;
    }
    .btn-link .info .SG li p {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        font-size: 11px;
    }
    .btn-link .info .SG {
        padding: 0px;
        padding-top: 1px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .btn-link .info .SG .li-not-br {
        padding-bottom: 1px;
        padding-top: 5px;
    }
    .btn-link .info .SG-change {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    .btn-link .info .SG-change li {
        font-size: 13px  !important;
    }

}
@media screen and (max-width: 700px){
    .pc5 .div-choose-min .specific .specific-right .specific-right-2 {
        font-size: 9px !important;
    }
    .pc5 .div-choose-min .specific .specific-left {
        font-size: 9px !important;
    }
    .pc5 .div-choose-min .specific .specific-right .specific-right-1 {
        font-size: 9px !important;
    }
    .pc5 .div-choose-min .specific .specific-right i {
        font-size: 5px !important;
    }
    .pc5 .div-choose-min .specific {
        padding: 0px 14px 0px 14px !important;
    }
    .pc5 .div-choose-min .specific {
        margin-bottom: 12px !important;
    }
    .pc5 .div-choose-min .specific .specific-right {
        margin-top: -4px;
    }
    .pc5 {
        width: 90% !important;
    }
    /*  */
    .pc1 .content-pc .my-container-img h1 {
        padding: 50px;
        text-align: center;
        z-index: 2;
        position: relative;
        color: white;
        padding: 25px;
        margin-right: 50px;
        font-size: 21px;
    }
    .pc1 .content-pc .my-container-img {
        border-radius: 13px;
    }
    /* lunch5 */
    .lunch5 .icon-cuss {
         width: 50px !important;
         height: 50px !important;
     }
     .lunch5 {
        width: 65% !important;
     }
     .lunch5 .parent-qr {
        padding: 15px;
        margin-bottom: 5px;
    }
    .lunch5 .title2 {
        margin-top: 10px;
        margin-bottom: 20px !important;
    }
    canvas {  /* or some other selector */
        width: 60px !important;
        height: 60px !important;
        margin-bottom: -10px;
        }
    .lunch5 .title {
        font-size: 12px !important;
    }

    .lunch5 .notice {
        font-size: 10px;
    }
    /*  */
    /*  */
    .lunch4 .title {
        font-size: 25px;
        margin-bottom: 48px;
    }
     .lunch4 .div-choose-min .specific {
        width: 100%;
        margin-bottom: 15px;
        padding: 2px  30px 2px  30px;
    }
    .lunch4 .div-choose-min .specific .specific-left {
        font-size: 15px;
    }
    .lunch4 .div-choose-min .specific .specific-right .specific-right-1 {
        font-size: 15px;
    }
    .lunch4 .div-choose-min .specific .specific-right .specific-right-2 {
        font-size: 15px;
    }
    .lunch4 .div-choose-min .specific .specific-right i {
        font-size: 12px;
    }
    .lunch4 {
        width: 70% !important;
    }
    .pc5 {
        width: 90% !important;
    }
    /*  */
    .lunch3 .btn-link a span {
        border-top: 5px solid #19dc76 !important;
        border-bottom: 5px solid #109b42 !important;
        border-left: 5px solid #19dc76 !important;
        border-right: 5px solid #109b42 !important;
    }
    .lunch3 .btn-link a {
        padding: 5px 48px;
        padding-top: 6px;
        padding-left: 72px;
        display: block;
        width: 100%;
    }
    .lunch3 {
        width: 70% !important;
    }
    .lunch3 .btn-link a {
        padding: 2px 48px;
        padding-top: 3px;
        padding-left: 72px;
        display: block;
        width: 100%;
    }
    .lunch3 .btn-link a span {
        padding: 3px 16px;
        padding-top: 3px;
        left: -14px;
        font-size: 22px;
    }
    /*  */
    .lunch2 .notice {
        font-size: 15px;
    }
    /*  */
    .main-club {
        width: 70%;
    }
    .lunch .title {
        font-size: 15px;
        margin-bottom: 25px;
    }
    .lunch .input {
        margin-bottom: 15px;
    }
    .lunch .hotline {
        margin-bottom: 15px;
    }
    .lunch .input input {
        font-size: 15px;
    }
    .lunch .input {
        width: 80%;
    }
    .lunch .hotline {
        font-size: 15px;
    }
    .lunch button {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .btn-link a {
        padding: 6px 100px;
        padding-top: 9px;
        border-radius: 20px;
        font-size: 15px;
        border: 3px solid white;
        padding-left: 115px;
    }
    .main-club {
        width: 60%;
    }
    .btn-link .info .SG {
        margin-bottom: 4px;
    }
    .btn-link .info {
        padding: 0px;
    }
    .btn-link a span {
        border-radius: 50%;
        padding: 0px 16px;
        padding-top: 5px;
        left: -20px;
        font-size: 25px;
    }
    .btn-link .info .SG-change {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    .contry-club .btn-link a span {
        border-top: 5px solid #00d4fc;
        border-bottom: 5px solid #0087f7;
        border-left: 5px solid #00d4fc;
        border-right: 5px solid #0087f7;
    }
    .river-club .btn-link a span {
        border-top: 5px solid #19dc76 !important;
        border-bottom: 5px solid #109b42 !important;
        border-left: 5px solid #19dc76 !important;
        border-right: 5px solid #109b42 !important;
    }
    .sale .btn-link a span {
        border-top: 5px solid #0ddbdb!important;
        border-bottom: 5px solid #02a8a8 !important;
        border-left: 5px solid #0ddbdb !important;
        border-right: 5px solid #02a8a8 !important;
    }
    .rivera .btn-link a span {
        border-top: 5px solid #f6c343!important;
        border-bottom: 5px solid #ed8a37!important;
        border-left: 5px solid #f6c343!important;
        border-right: 5px solid #ed8a37 !important;
    }
    .club-house .btn-link a span {
        border-top: 2px solid #0064ba!important;
        border-bottom: 2px solid #01396a!important;
        border-left: 2px solid #0064ba!important;
        border-right: 2px solid #01396a !important;
    }
}
@media screen and (max-width: 430px){
    .pc5 .div-choose-min .specific {
        margin-bottom: 3px !important;
    }
    .pc5 .div-choose-min .specific .specific-left {
        font-size: 5px !important;
    }
    .pc5 .div-choose-min .specific .specific-right .specific-right-1 {
        font-size: 5px !important;
    }
    .pc5 .div-choose-min .specific {
        padding: 0px 2px 0px 1px !important;
    }
    /*  */
    .pc3 #tel_lunch_pc3 {
        margin-bottom: 30px !important;
    }
    .pc5 .div-choose-min .specific .specific-right .specific-right-2 {
        font-size: 5px !important;
    }
    .pc1 .content-pc .my-container-img h1 {
        padding: 50px;
        text-align: center;
        z-index: 2;
        position: relative;
        color: white;
        padding: 17px;
        margin-right: 28px;
        font-size: 10px;
    }
    .pc1 .title {
        margin-bottom: 0px !important;
    }
    .pc1 .content-pc .my-container-img {
        margin: 12px;
    }
    .pc1 .content-pc {
        margin-bottom: 15px;
    }
    /* lunch5 */
    .lunch5 .icon-cuss {
         width: 30px  !important;
         height: 30px  !important;
     }
     .lunch5 {
        width: 65% !important;
     }
     .lunch5 .parent-qr {
        padding: 9px;
        margin-bottom: 5px;
        border-radius: 10px;
    }
    .lunch5 .title2 {
        margin-top: 5px;
        margin-bottom: 7px !important;
    }
    canvas {  /* or some other selector */
        width: 37px  !important;
        height: 37px  !important;
        margin-bottom: -8px;
        }
    .lunch5 .title {
        font-size: 7px  !important;
    }

    .lunch5 .notice {
        font-size: 6px;
    }
    /*  */
    /*  */
    .lunch4 .title {
        font-size: 10px !important;
        margin-bottom: 8px   !important;
    }
     .lunch4 .div-choose-min .specific {
        width: 100%;
        margin-bottom: 9px;
        padding: 1px  20px 1px  20px
    }
    .lunch4 .div-choose-min .specific .specific-left {
        font-size: 7px;
    }
    .lunch4 .div-choose-min .specific .specific-right .specific-right-1 {
        font-size: 7px;
        margin-right: 19px;
    }
    .lunch4 .div-choose-min .specific .specific-right .specific-right-2 {
        font-size: 7px;
    }
    .lunch4 .div-choose-min .specific .specific-right i {
        font-size: 5px;
    }
    .lunch4 {
        width: 65%% !important;
    }
    .pc5 {
        width: 100% !important;
    }
    .lunch4 .div-choose-min .specific .specific-right {
        width: 50%;
        text-align: right;
        padding: 0px;
        margin-top: -7px;
    }
    /*  */
    /*  */
    .lunch3 .title {
        font-size: 10px;
        margin-bottom: 18px !important;
    }
    .lunch3 .btn-link a span {
        border-top: 2px solid #19dc76 !important;
        border-bottom: 2px solid #109b42 !important;
        border-left: 2px solid #19dc76 !important;
        border-right: 2px solid #109b42 !important;
    }
    .lunch3 .btn-link a span {
        padding: 1px 10px;
        padding-top: 1px;
        left: -14px;
        font-size: 17px;
    }
    .lunch3 .btn-link a {
        padding: 2px 27px;
        padding-top: 3px;
        padding-left: 9px;
        display: block;
        width: 100%;
    }
    .lunch3 .btn-link a i {
        font-size: 5px;
    }
    .lunch3 .btn-link a .icon_in_a {
        display: inline;
        padding-left: 38px;
        vertical-align: middle;
        font-size: 6px;
        font-weight: normal;
        margin-right: 10px;
    }
    .lunch3 .btn-link {
        margin-bottom: 18px;
        width: 85%;
    }
    /*  */
    .lunch2 .input input {
        font-size: 7px;
        padding: 5px 10px;
    }
    .lunch2 .notice {
        font-size: 8px;
    }
    .lunch2 .notice {
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .lunch2 .title2 {
        margin-bottom: 10px !important;
    }
    /*  */
    .lunch .title {
        font-size: 10px;
        margin-bottom: 5px;
    }
    .lunch button {
        padding: 5px 30px 6px 30px;
        font-size: 9px;
    }
    .lunch .input {
        margin-bottom: 5px;
    }
    .div-footer {
        font-size: 4px;
        padding: 3px 13px 3px 13px;
        border: 1px solid white;
    }
    .lunch .input input {
        font-size: 7px;
        padding: 5px 10px;
    }
    .lunch .hotline {
        font-size: 10px;
    }
    .antialiased {
        /* height: 100vh; */
    }
    .btn-link .info .SG li p {
        font-size: 5px;
    }
    .btn-link .info .SG li {
        font-size: 6px;
    }
    .btn-link a {
        padding: 4px 55px;
        padding-top: 4px;
        border-radius: 20px;
        font-size: 8px;
        border: 1px solid white;
        padding-left: 55px;
    }
    .btn-link a span {
        border-radius: 50%;
        padding: 1px 10px;
        padding-top: 1px;
        left: -9px;
        font-size: 14px;
    }
    .contry-club .btn-link a span {
        border-top: 2px solid #00d4fc;
        border-bottom: 2px solid #0087f7;
        border-left: 2px solid #00d4fc;
        border-right: 2px solid #0087f7;
    }
    .river-club .btn-link a span {
        border-top: 2px solid #19dc76 !important;
        border-bottom: 2px solid #109b42 !important;
        border-left: 2px solid #19dc76 !important;
        border-right: 2px solid #109b42 !important;
    }
    .sale .btn-link a span {
        border-top: 2px solid #0ddbdb!important;
        border-bottom: 2px solid #02a8a8 !important;
        border-left: 2px solid #0ddbdb !important;
        border-right: 2px solid #02a8a8 !important;
    }
    .rivera .btn-link a span {
        border-top: 2px solid #f6c343!important;
        border-bottom: 2px solid #ed8a37!important;
        border-left: 2px solid #f6c343!important;
        border-right: 2px solid #ed8a37 !important;
    }
    .club-house .btn-link a span {
        border-top: 2px solid #0064ba!important;
        border-bottom: 2px solid #01396a!important;
        border-left: 2px solid #0064ba!important;
        border-right: 2px solid #01396a !important;
    }
    .btn-link .info .SG {
        padding: 0px;
        padding-top: 1px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .btn-link .info .SG {
        margin-bottom: 0px !important;
        margin-top: 5px;
    }
    .btn-link .info {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .btn-link .info .SG .li-not-br {
        padding-bottom: 1px;
        padding-top: 3px;
    }
    .btn-link .info .SG-change li {
        font-size: 6px !important;
    }
    .btn-link .info .SG-change {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .btn-link .info {
        margin-right: 5px;
        margin-top: -5px;
    }
}